body {
    background: rgb(185, 171, 171)
}

h1 { 
    font-family: "Gill Sans", sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: white;
}


p {
    font-family: "Gill Sans", sans-serif; 
    font-sze: 50px;
    font-weight: bold;
    color: white;
}
    

