body {
    background: rgb(185, 171, 171)
}

h1 { 
    font-family: "Poppins";
    font-size: large;
    color: white;
}


p {
    font-family: "Poppins"; 
    font-sze: medium;
    color: white;
}
    

