body {
    background: rgb(185, 171, 171)
}

h1 { 
    font-family: "Georgia", serif;
    font-size: 60px;
    color: white;
}


p {
    font-family: "Geogia", serif; 
    font-sze: 50px;
    color: white;
}
    

